{% extends "layout.html" %}

{% block body %}

    <h1>Register</h1>
    <form action="/register" method="post">
        <input autocomplete="off" autofocus name="Name" placeholder="Name" required type="text">

        {% for sport in sports %}
        <!-- here we use a "radio" selector to selec an option -->
        <!-- we use ginga code to html just implementing python code -->
            <input name = "Sport" type="radio" value ="{{ sport }}"> {{ sport }}
        {% endfor %}

        <button typ="submit">Register</button>
    </form>

{% endblock %}
