{% extends "layout.html" %}

{% block body %}

    <form action="/register" method="post">
        <input autocomplete="off" autofocus name="Name" placeholder="Name" required type="text">
        <!-- required is added so the input has to be inputed -->
        <select name = "Sport">
            <!-- select is a drop dowm menu that you can choes from -->
            <!-- here we inser ginga code to html just implementing python code -->
            <option disabled selected>Sport</option>
            {% for sport in sports %}
                <option value = "{{ sport }}">{{ sport }}</option>
            {% endfor %}
        </select>
        <button typ="submit">Register</button>
    </form>

{% endblock %}
